<h1>Directors</h1>
<a href="/movies">See Movies</a>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Bio</th>
    <th>DOB</th>

  </tr>

<%@list_of_directors.each do |director| %>
<tr>
  <td><img src="<%= director.image_url %>" alt="director Image"></td>

  <td> <a href="/directors/<%= director.id %>"> <%= director.name %></a></td>

  <td><%= director.bio %></td>

  <td> <%= director.dob %></td>
</tr>


<%end %>
</table>
