<h1><%= @movie_title %></h1>

<img src="<%= @movie.image_url %>"

<p><%= @movie_year %></p>
<p><%= @movie_duration %></p>
<p><%= @movie_description %>
</p>
<p><%= @director %></p>

<a href="/movies">Back</a>
